<nav class="nav-wraper blue accent-4">
  <div class="container">
    <a href="/" class="brand-logo">MY JOURNEY</a>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src="https://cdn.pixabay.com/photo/2017/05/06/14/49/january-2290045_1280.jpg">
    </div>
    <a href="/"><img class="circle" src="https://cdn.pixabay.com/photo/2017/05/31/11/47/head-2360166_1280.jpg"></a>
    <a href="/"><span class="white-text name" style="font-weight: 600;">John Doe</span></a>
    <a href="/"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li><a href="tasks" class="waves-effect"><i class="material-icons">date_range</i>Manage your Tasks</a></li>
  <li><div class="divider"></div></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

<router-outlet></router-outlet>